<% if @status.present? %>
  <% @object = @status %>
<% else %>
  <% @object = @image %>
<% end %>
<div id="like_form_<%= @object.id %>">
  <% if user_signed_in? %>
    <% @like = Like.find_like(@object.id, @object.class, current_user.id).first %>
    <% if @like.present? %>
      <%= render "statuses/unlike" %>
    <% else %>
      <%= render "statuses/like" %>
    <% end %>
  <% end %>
</div>
