<footer>
  <div class="container">
    <hr>
    <div class="text-center center-block">
    <p class="txt-railway">- Made by UniteNaite+ Team -</p>
      <br />
      <a href="https://www.facebook.com/hoangtuyb96"><i id="social-fb" class="fa fa-facebook-square fa-3x social"></i></a>
      <a href="https://twitter.com/hoangtuyb96"><i id="social-tw" class="fa fa-twitter-square fa-3x social"></i></a>
      <a href="https://google.com/+TúHoànghoangtuyb96"><i id="social-gp" class="fa fa-google-plus-square fa-3x social"></i></a>
      <a href="mailto:hoangtuyb96@gmail.com"><i id="social-em" class="fa fa-envelope-square fa-3x social"></i></a>
    </div>
    <hr>
  </div>
</footer>
